<div id="album_new">
  <h1>Albums#new</h1>

  <fieldset class="albums_add">
    <%= form_for @album do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.hidden_field :user_id %>
      <%= f.submit 'Add Album'  %>
    <% end %>
  </fieldset>

</div>
