<div id="albums_photos">
  <h1>Album: <%= @album.name %></h1>

  <% if @user.is_paid? && @user.id == @album.user_id %>
    <p>
      <%= link_to 'Add a Photo to This Album', new_album_photos_path(@album.id) %>
    </p>
  <% end %>

  <% @album.photos.each do |photo| %>
  <p>Photo:  <%= photo.name %></p>
  <div id="photos">
    <%= image_tag photo.url %>
  </div> <!--photos -->

    <div class="comments">
      <% photo.comments.each do |comment| %>
        <p class="comment">
          "<%= comment.content %>"
        </p>
        <br>
      <% end %>
    </div>

  <br>
  <div class="comment_form_div">
    <%= form_for "comment", :url => comments_path do |f| %>
      <%= f.text_area :content, :class => "comments_form" %>
      <%= f.hidden_field :author, :value => @user.id %>
      <%= hidden_field_tag :photo_id, photo.id %>
      <br>
      <br>
      <%= f.submit "Add Comment" %>
    <% end %>
  </div>
  <% end %>
</div> <!-- albums_photos -->




