<div id="photos_new">
  <h1>Photos#new</h1>

  <fieldset class="photos_add">
    <%= form_for(@photo, url: album_photos_path, :html_options => {:multipart => true}) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <br>
      <div id="photo_chooser">
        <%= f.file_field :url %><br>
      </div>
      <br>
      <%= f.submit "Add New Photo" %>
    <% end %>
  </fieldset>

  <p class="back">
    <%= link_to 'Back', album_photos_path %>
  </p>
</div>